<head>
    <meta charset="utf-8">
    <title>Prijava v sistem</title>
</head>
<body>
    <h1>Dobrodošli na mojo spletno stran!</h1><br>

    <a href="/prijava">Prijava uporabnika</a><br>
    <a href="/registracija">Registracija uporabnika</a>
</body>