<head>
    <meta charset="utf-8">
    <title>Prijava</title>
</head>
<body>
    <h1>Pozdravljeni, uporabnik!</h1><br>
    Pravilno ste vpisali uporabniško ime ter geslo.

    <a href="/">Odjava uporabnika</a>
</body>